# Backend API Base URL
NEXT_PUBLIC_API_URL="http://localhost:4000"
NEXT_PUBLIC_SOCKET_URL="http://localhost:4000"

# MapTiler Cloud Configuration
NEXT_PUBLIC_MAPTILER_KEY="LJiRRVQ1VrBOvHYlVxt0"
NEXT_PUBLIC_MAPTILER_MAP_ID="01a04c9a-1c5a-7cb4-bd2f-68a04c973a9f"

# MongoDB Local Connection
MONGODB_URI="mongodb://127.0.0.1:27017/sih-2026"

# Database Connection (Optional Supabase / PostgreSQL)
DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:[PORT]/postgres"

