# Backend API Base URL
NEXT_PUBLIC_API_URL="http://localhost:4000"
NEXT_PUBLIC_SOCKET_URL="http://localhost:4000"

# MapTiler Cloud Configuration
NEXT_PUBLIC_MAPTILER_KEY="https://api.maptiler.com/maps/01a04c9a-1c5a-7cb4-bd2f-68a04c973a9f/?key=LJiRRVQ1VrBOvHYlVxt0#0.4/-21.86317/-42.42163"
NEXT_PUBLIC_MAPTILER_MAP_ID="https://api.maptiler.com/maps/01a04c9a-1c5a-7cb4-bd2f-68a04c973a9f/?key=LJiRRVQ1VrBOvHYlVxt0#0.4/-21.86317/-42.42163"

# Database Connection (Supabase PostgreSQL / PostGIS)
DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:[PORT]/postgres"